# Core modules (mandatory)
jupyterlite-core>=0.7.3,<0.8
jupyterlab>=4.5.5,<4.6
notebook>=7.5.0,<7.6


# Python kernel (optional)
jupyterlite-pyodide-kernel>=0.7.1,<0.8

# Teahouse dependencies
anywidget==0.9.13
voici-core==0.10.0